streamlit>=1.39.0
psycopg2-binary>=2.9.10
plotly>=5.24.1
pywebpush>=2.0.1
websockets>=12.0
asyncio>=3.4.3
cssutils>=2.7.1
jsbeautifier>=1.14.9
pytz>=2023.3
python-dateutil>=2.8.2
pandas
plotly
psycopg2-binary
streamlit
python-dateutil
pytz
